@include block('cards') {
  @include element('card') {
    @include mobile {
      @include margin(null null rem(15) null);
    }
    @include tablet {
      @include margin(null null rem(25) null);
      &:nth-child(2n-1) {
        @include margin(null rem(50) null null);
      }
      flex: 0 1 calc(50% - #{rem(50px)});
    }
  }
  display: flex;
  flex-wrap: wrap;
}
