@include block('main-menu') {
  @include element('list') {
    @include margin(0);
    @include padding(0);
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  @include tablet {
    @include padding(0 rem(100) 0 rem(100));
  }
}
