@font-face {
  font-family: 'Jam';
  src: url('#{const('FONT-FOLDER')}/jam/jam-icons.eot');
  src: url('#{const('FONT-FOLDER')}/jam/jam-icons.eot?#iefix') format('embedded-opentype'),
       url('#{const('FONT-FOLDER')}/jam/jam-icons.woff') format('woff'),
       url('#{const('FONT-FOLDER')}/jam/jam-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
