////
/// Base styles
/// @group Base
/// @author Joris Karl Dzaack <hola@arebours.de>
/// @see https://smacss.com/book/type-base
////

@import 'normalize/import-now';
@import './fonts/fonts';

html {
  box-sizing: border-box;

  @include after {
    display: none;

    @include mobile(true) {
      content: 'mobile';
    }

    @include tablet(true) {
      content: 'tablet';
    }

    @include desktop {
      content: 'desktop';
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
