%_body {
  font: {
    family: 'Open Sans';
    weight: 400;
  }
}

%text-styles__body--t1 {
  @extend %_body;

  @include mobile {
    font: {
      size: rem(12);
    }
    line: {
      height: rem(18);
    }
  }
  @include tablet {
    font: {
      size: rem(16);
    }
    line: {
      height: rem(24);
    }
  }

  p {
    @include margin(null null rem(10) null);

    &:last-of-type {
      @include margin(null null 0 null);
    }
  }
}

%text-styles__body--t2 {
  @extend %_body;

  @include mobile {
    font: {
      size: rem(11);
    }
    line: {
      height: rem(17);
    }
  }

  @include tablet {
    font: {
      size: rem(14);
    }
    line: {
      height: rem(24);
    }
  }

  p {
    @include margin(null null rem(10) null);

    &:last-of-type {
      @include margin(null null 0 null);
    }
  }
}
